<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Shirt size:</strong>
  <%= @player.shirt_size %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
