<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TIY Sports</title>
  </head>
  <body>
    <h1>Welcome to TIY Sports</h1>

    <!-- List of all the players here -->
    <h2>Players</h2>
    <ul>
    <% @players.each do |player| %>
      <li><a href="/players/<%= player.id %>"><%= player.name %></a></li>
    <% end %>
    </ul>

    <a href="/players/new">Add Player</a>

    <form action="/players/search" method="post">
      <input type="text" name="name" value="">
      <input type="submit" value="Search">
    </form>

    <!-- List of all of the teams here -->
    <h2>Teams</h2>
    <ul>
    <% @teams.each do |team| %>
      <li><a href="/teams/<%= team.id %>"><%= team.name %> - <%= team.mascot %></a></li>
    <% end %>
    </ul>
  </body>
</html>
