<!DOCTYPE html>
<html>
  <head>
    <title>DeviseTiysports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
       <p>
       Welcome: <%= current_user.name %>
       </p>
       <p>
       We haven't seen you in: <%= distance_of_time_in_words_to_now(current_user.last_sign_in_at) %>
       </p>

       <%= link_to "Logout", destroy_user_session_path, method: :delete %>

    <% end %>
    <%= yield %>
  </body>
</html>
