<!DOCTYPE html>
<html>
  <head>
    <title>Tiyrailssports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> LOGO <%= link_to 'Home', root_path %> </h1>
    
    <%= yield %>
  </body>
</html>
