<!DOCTYPE html>
<html>
  <head>
    <title>Tiyrailssports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> LOGO <%= link_to 'Home', root_path %> </h1>
    <% if logged_in? %>
      Logged in: <%= current_user.name %> | <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %> | <%= link_to 'Signup', signup_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
