%h1 Listing categories

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Subject
      %th Terms
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.subject
        %td= category.terms.length
        %td= link_to 'Show', category
        %td= link_to 'Edit', edit_category_path(category)
        %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_category_path
