%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Subject:
  = @category.subject
%p
  Terms:
  %ul
    - @category.terms.each do |term|
      %li
        = link_to term.name, term
= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
