= form_for @term do |f|
  - if @term.errors.any?
    #error_explanation
      %h2= "#{pluralize(@term.errors.count, "error")} prohibited this term from being saved:"
      %ul
        - @term.errors.full_messages.each do |msg|
          %li= msg
  %form.form-horizontal
    %fieldset
      .form-group
        .field
          = f.label :name
          = f.text_field :name
        .field
          = f.label :definition
          = f.text_area :definition
        .field
          = f.label :author
          = f.text_field :author
        .field
          = f.label :web_link
          = f.text_field :web_link
        .field
          = f.label :categories
          = f.collection_check_boxes(:category_ids, Category.all, :id, :name)
        .actions
          = f.submit 'Save'
